[Desktop Entry]
Type=Service
Icon=media-floppy
X-KDE-Priority=TopLevel
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/allfiles;inode/directory;
Actions=CopyTo;MoveTo;
X-KDE-Submenu=Ultracopier
Encoding=UTF-8

[Desktop Action CopyTo]
Name=Copy To
Icon=edit-copy-symbolic
Exec=ultracopier cp %U `kdialog --getexistingdirectory ~/`

[Desktop Action MoveTo]
Name=Move To
Icon=edit-cut-symbolic
Exec=ultracopie mv %U `kdialog --getexistingdirectory ~/` 
