[Desktop Entry]
Type=Service
Icon=edit-copy-symbolic
X-KDE-Priority=TopLevel
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/allfiles;inode/directory;
Actions=CopyTo;
Encoding=UTF-8


[Desktop Action CopyTo]
Name=Ultracopier Copy To
Name[nl]=Ultracopier - Kopiëren naar
Icon=edit-copy-symbolic
Exec=ultracopier cp %U `kdialog --getexistingdirectory ~/`

